---
# RabbitMQ installation and clustering

- name: Install RabbitMQ
  package:
    name: rabbitmq-server
    state: present
  when: not offline_mode

- name: Set Erlang cookie
  copy:
    content: "{{ rabbitmq_erlang_cookie }}"
    dest: /var/lib/rabbitmq/.erlang.cookie
    owner: rabbitmq
    group: rabbitmq
    mode: '0400'
  notify: restart rabbitmq

- name: Configure RabbitMQ
  template:
    src: rabbitmq.conf.j2
    dest: /etc/rabbitmq/rabbitmq.conf
    owner: rabbitmq
    group: rabbitmq
    mode: '0644'
  notify: restart rabbitmq

- name: Enable management plugin
  rabbitmq_plugin:
    names: rabbitmq_management
    state: enabled
  notify: restart rabbitmq

- name: Ensure RabbitMQ is running
  service:
    name: rabbitmq-server
    state: started
    enabled: true

- name: Join cluster (non-primary nodes)
  include_tasks: rabbitmq_cluster.yml
  when:
    - rabbitmq_cluster_enabled | default(false)
    - inventory_hostname != groups['datastreaming'][0]
